# Конфигурация HTTP-сервера
HTTP_HOST=0.0.0.0
HTTP_PORT=8080

# Конфигурация MINIO
MINIO_ENDPOINT=minio:9000
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=change_this_secure_password
MINIO_BUCKET_NAME=test-bucket
MINIO_USE_SSL=false
FILE_TIME_EXPIRATION=24 # в часах

# Настройки сжатия изображений
IMAGE_QUALITY=80
IMAGE_MAX_WIDTH=1920